[2013-10-01 15:47] bahamat opened #1 "Import 3.5.2 original source into a separate branch"

[2013-10-01 15:48] bahamat opened #2 "Import masterfiles repo as a submodule or branch"

[2013-10-01 15:51] tzz commented on #2
Take a look at the subtree merge strategy, it's ideal for this.

[2013-10-01 19:37] Webhuis commented on #2
OK, next branch. This is in advance of the more definitive master files split Ted told us about.
Where do I find the current (3.5.2) repo?

[2013-10-01 20:30] tzz commented on #2
https://github.com/cfengine/masterfiles doesn't have a 3.5.x branch because there hasn't been a 3.5 release using it since it was created (3.5.2 still used the `core.git/masterfiles` directory).  So for now use the `master` branch and eventually there may be a 3.5.2 branch.

[2013-10-01 20:46] Webhuis commented on #2
So, I will
1. Create a branch masterfiles of off orig
2. Remove everything but masterfiles from the masterfiles branch
3.5.2 remains intact
OK?

[2013-10-03 08:51] Webhuis commented on #2
Three branches available now.
orig
debian with debian directory
masterfiles with masterfiles directory

[2013-10-03 08:51] #2 closed, assigned to nobody

[2013-10-03 08:53] Webhuis commented on #1
Original source now in orig branch.
Later on we will branch from this one with newer releases. e.g. 3.6-orig.
The other branches will be treated likewise.

[2013-10-03 08:53] #1 closed, assigned to nobody

[2013-10-03 08:54] Webhuis opened #3 "Build dependencies"
We are dealing with build dependencies. We should have a clear picture of the dependencies that exist.

[2013-10-03 08:55] Webhuis opened #4 "Compile options"
The current setup contains faulty and missing compile options.

[2013-10-03 11:20] basvandervlies commented on #3
On 3 okt. 2013, at 10:54, Webhuis notifications@github.com
 wrote:

---

SURFsara has a new telephone number: +31 20 800 1300.

Bas van der Vlies
| Operations, Support & Development | SURFsara | Science Park 140 | 1098 XG  Amsterdam
| T +31 (0) 20 800 1300  | bas.vandervlies@surfsara.nl | www.surfsara.nl |

[2013-10-03 18:45] Webhuis commented on #3
OK, point taken. I cannot assign the issue to you right now, but we will pick this up tomorrow.

[2013-10-04 23:13] Webhuis opened #13 "libxml2-dev"
debian/control
libxml2.dev should be libxml2-dev.
I will issue a pull request with a patch.

[2013-10-04 23:28] OlTwello opened #14 "FAIL: generic_agent_test"
#
# Starting test: generic_agent_test.c

test_load_masterfiles: Starting test
FAIL: generic_agent_test

I would like to assign this issue to Ted. I will mail the logs to the Debian-team.

[2013-10-05 08:46] Webhuis commented on #4
Invalid compile options removed:
--without-nova \
--without-constellation

Ccompile option added:
 --with-mysql to yes

Indentification off additional compile options needed.

[2013-10-07 10:18] basvandervlies commented on #4
just send a pull request #17 which enable some optional pakcages

[2013-10-08 18:20] Webhuis commented on #13
Solved in pull request #19

[2013-10-08 18:20] #13 closed, assigned to nobody

[2013-10-08 18:50] tzz commented on #14
I looked at the build logs.  Looks like it's choking on `logrotate` which is defined in either `lib/3.5/bundles.cf` for 3.5.x or in `$(sys.local_libdir)/bundles.cf` for 3.6 (which expands to `lib/3.6/bundles.cf`).

Actual error:

[code]

[2013-10-08 19:34] Webhuis commented on #4
Options added in pull request #17

[2013-10-08 19:34] #4 closed, assigned to nobody

[2013-10-08 19:36] Webhuis commented on #3
Solved by pull requests #6 and #19.

[2013-10-08 19:36] #3 closed, assigned to nobody

[2013-10-08 19:37] Webhuis commented on #14
Discussed in the October 8th hangout. Brian and Ted analyse.

[2013-10-13 08:36] bahamat opened #24 "tests/acceptance/00_basics/01_compiler/800.cf FAIL"
This tests `$(sys.flavor)`.

Jessie output:

[code]

wheezy output:

[code]

This test may resolve itself when `/etc/issue` is updated to a version number for jessie release. However, with the current acceptance test it can never pass on testing or unstable. This needs to pass on testing/unstable otherwise it will always fail Debian builds on the official build system.

[2013-10-13 09:28] bahamat opened #25 "Pull request 1010 from core needs to be merged in with quilt"
See https://github.com/cfengine/core/pull/1010

[2013-10-13 09:31] bahamat opened #26 "debian/rules uses wrong configure option"
In Bas' create-deb-package branch there is an incorrect option `--with-acl`. The correct option is `--with-libacl`.

[2013-10-13 09:34] basvandervlies commented on #26
Thanks will fix it

On 13 okt. 2013, at 11:31, Brian Bennett notifications@github.com
 wrote:

---

SURFsara has a new telephone number: +31 20 800 1300.

Bas van der Vlies
| Operations, Support & Development | SURFsara | Science Park 140 | 1098 XG  Amsterdam
| T +31 (0) 20 800 1300  | bas.vandervlies@surfsara.nl | www.surfsara.nl |

[2013-10-13 09:38] basvandervlies commented on #24
what is /etc/debian_version and /dev/isssue?

On 13 okt. 2013, at 10:36, Brian Bennett notifications@github.com wrote:

---

SURFsara has a new telephone number: +31 20 800 1300.

Bas van der Vlies
| Operations, Support & Development | SURFsara | Science Park 140 | 1098 XG  Amsterdam
| T +31 (0) 20 800 1300  | bas.vandervlies@surfsara.nl | www.surfsara.nl |

[2013-10-13 09:41] basvandervlies commented on #24
can you also tell which debian hard classes are detected? Currently i do not have a jessie system

On 13 okt. 2013, at 11:38, Bas van der Vlies bas.vandervlies@surfsara.nl
 wrote:

---

SURFsara has a new telephone number: +31 20 800 1300.

Bas van der Vlies
| Operations, Support & Development | SURFsara | Science Park 140 | 1098 XG  Amsterdam
| T +31 (0) 20 800 1300  | bas.vandervlies@surfsara.nl

[2013-10-13 09:41] bahamat commented on #24
`/etc/issue` is the standard header for login prompts.

`/etc/debian_version` is a human readable file that is explicitly used to note the version of Debian the system is running.

Cfengine uses these to determine some hard classes.

[2013-10-13 09:50] basvandervlies commented on #24
Brian i know what the files for. I want just want to know what the content is ;-).   I suspect that the hard class:
- debian_testing of debian_unstable is set.  (cf-promises -v)

Then we can rewrite the acceptance test to use another compare test for sys.flavor.

On 13 okt. 2013, at 11:41, Brian Bennett notifications@github.com wrote:

---

SURFsara has a new telephone number: +31 20 800 1300.

Ba

[2013-10-13 09:51] bahamat commented on #24
Here's the list of classes I have on Jessie:

[code]

I removed classes unique to my system (md5 hash, interfaces, cf-monitor derived, etc).

Notably missing are the Debian version number classes. Wheezy has the following:

[code]

These numbers come from `/etc/issue` and `/etc/debian_version`.

Note the spurious `debian_7__n__l` hard class which should not be defined. It's an artifact of misreadi

[2013-10-13 09:53] bahamat commented on #24
I thought it was funny that you asked ;-)

`/etc/issue`:

[code]

`/etc/issue` has an extra blank line at the end.

`/etc/debian_version`:

[code]

[2013-10-13 09:57] bahamat commented on #25
After building with this fix I have a usable `.deb`

[2013-10-13 10:01] basvandervlies commented on #25
congrats!. I have just updated my branch with your quilt patch for strftime  that you submitted

On 13 okt. 2013, at 11:57, Brian Bennett notifications@github.com
 wrote:

---

SURFsara has a new telephone number: +31 20 800 1300.

Bas van der Vlies
| Operations, Support & Development | SURFsara | Science Park 140 | 1098 XG  Amsterdam
| T +31 (0) 20 800 1300  | bas.vandervlies@surfsara.nl | www.su

[2013-10-13 10:03] basvandervlies commented on #24
Thanks.  CFengine must handle the debian testing and unstable release or just set:
- debian_sid
- debian_testing

So we can use that hard classes in the acceptance tests. Else we encounter this problem with every new debian release.

On 13 okt. 2013, at 11:53, Brian Bennett notifications@github.com
 wrote:

---

SURFsara has a new telephone number: +31 20 800 1300.

Bas van der Vlies
| Operations,

[2013-10-13 10:08] bahamat commented on #24
It sets debian_jessie on jessie. I believe that on unstable it sets debian_unstable (but I don't have one to verify at the moment).

At any rate, the test policy could be "fixed" by appending `cut -d/ -f1` to the pipe. I think it's ok to do that for Jessie, but I don't know if that's really the best way to fix it. I'd like input from someone from cfengine (git blame shows Volker for that line) on

[2013-10-14 08:19] basvandervlies commented on #24
On 13 okt. 2013, at 12:08, Brian Bennett notifications@github.com wrote:

If i remember correctly CFengine used to use the command `lsb_release` to determine hard classes for a machine. This command on jessie display the right info:
- lsb_release -a
  {{{
  Distributor ID: Debian
  Description:    Debian GNU/Linux testing (jessie)
  Release:    testing
  Codename:   jessie
  }}}

---

SURFsara has

[2013-10-14 21:00] bahamat commented on #25
This is resolved.

[2013-10-14 21:00] #25 closed, assigned to basvandervlies

[2013-10-14 21:01] bahamat commented on #26
Initially I saw a warning saying that `--with-acl` was an invalid option. Trying with `--with-libacl` fails to find `libacl`. Removing the option entirely lets cfengine find the correct path automatically.

[2013-10-14 21:01] #26 closed, assigned to basvandervlies

[2013-10-14 21:03] bahamat commented on #14
I'm not getting this error anymore while building.

[2013-10-14 21:03] #14 closed, assigned to nobody

[2013-10-14 22:59] bahamat commented on #24
Cfengine is likely doing the right thing, but the test case checks against `/etc/issue`.
Perhaps modifying the test case to use `lsb_release` is the right thing to do.

[2013-10-14 23:01] bahamat commented on #24
Although, `lsb-release` is not an essential package and may not always exist.

[2013-10-15 08:00] basvandervlies commented on #24
On 15 okt. 2013, at 00:59, Brian Bennett notifications@github.com wrote:

Brian just a note cfengine is not doing the rugjt thing it could define another debian class when parsing /etc/debian_version:
- debian_sid

This can always be used for debian systems that are not yet stable. Stable debian versions have a version number:
- major.minor.patch
- maybe also declare: debian_stable

Testinfg/Unsta

[2013-10-15 09:20] zloidemon opened #28 "Incorrect perms to ppkeys"
Hello, I have issue with incorrect perms on ppkeys:

[code]

[2013-10-15 09:22] zloidemon opened #29 "cf-* files doesn't available in /var/lib/cfengine3/bin"
I have issue with cf-\* files, they doesn't exists in /var/lib/cfengine3/bin:

[code]

[2013-10-15 12:14] basvandervlies commented on #28
Thanks for reporting. I will fix it

[2013-10-15 12:35] basvandervlies commented on #29
This is still a discussion point must the binaries be in /usr/bin or /usr/sbin.  /var/lib/cfengine3/bin  now points to /usr/sbin.   For me `/usr/bin` as the cf-tools can be used as 'ordinary ' user.

[2013-10-15 12:50] zloidemon commented on #29
This isn't working if you use a `Community version`. I think need more compatibility with `Community version`.

[2013-10-15 13:02] basvandervlies commented on #29
@zloidemon we are building the `community version``.  Sorry but can you elaborate what isn't working for you. We want to build a official deb package. We need to follow the debian guide lines for packing.

[2013-10-15 14:55] zloidemon commented on #29
Thank you. I see fixed on 31.

[2013-10-16 15:12] bahamat commented on #28
Merged.

[2013-10-16 15:12] #28 closed, assigned to nobody

[2013-10-16 15:13] bahamat commented on #29
Merged #32.

[2013-10-16 15:13] #29 closed, assigned to nobody

[2013-10-16 19:11] basvandervlies opened #34 "configure does not honour --docdir and --datadir options"
CFengime autoconf scripts set hard path for doc directory and data directory. `configure --help` shows the options but they are useless.  Will ask a cfengine developer what the intention is of those hard paths.

[2013-10-18 20:48] bahamat opened #37 "Lintian messages"
This issue will track overall progress on Lintian messages.

Current output:

[code]

[2013-10-18 21:15] bahamat opened #38 "Spelling mistakes exposed by lintian"
See https://github.com/cfengine/core/pull/1024

In total, >600 files contain spelling mistakes. This will be kind of a pain to patch with quilt.

[2013-10-19 15:07] basvandervlies commented on #38
@bahamat see pull request #39. You are done ;-)

[2013-10-20 15:36] bahamat commented on #38
I fixed a few more in the patch rebase, which takes care of all of them. Thanks Bas.

[2013-10-20 15:36] #38 closed, assigned to nobody

[2013-10-20 15:38] bahamat opened #40 "Man pages missing"
The man pages in community edition are in `/var/cfengine/share/man/man8/`.

I don't know yet if they're in the package and not in the right place, or missing entirely. I wanted to get this in while it was on my mind.

[2013-10-20 16:08] bahamat commented on #37
Commit a2b79ae cleaned up a lot of these messages.

Current lintian status:

[code]

[2013-10-21 00:46] bahamat commented on #37
Current lintian status:

[code]

[2013-10-21 10:30] basvandervlies commented on #40
Just a observation in this repository there is no `docs` directory. So that is why we can not install them.

[2013-10-28 05:12] bahamat opened #41 "Default policies don't work out of the box."
The following cases should work:
- cfengine3 bootstrap to itself
- cfengine3 bootstrap to cfengine3
- cfengine3 bootstrap to cfengine-community on Debian
- cfengine3 bootstrap to cfengine-community on RHEL/CentOS
- cfengine-community on Debian bootstrap to cfengine3
- cfengine-community on RHEL/CentOS bootstrap to cfengine3

[2013-10-28 10:03] tzz commented on #41
The necessary fixes are in https://github.com/cfengine/masterfiles but not core.git (since `core.git/masterfiles` will be removed in 3.6).  So fixing policy issues will require one of these solutions:
- make one-time fixes in `core.git/masterfiles` that will be obsolete with 3.6 (ouch)
- start using https://github.com/cfengine/masterfiles which will make the Debian package diverge from the CFEngin

[2013-10-28 12:53] basvandervlies commented on #41
I just did some tests and `cf-agent --bootstrap <server>` does not work on debian systems. Due to the face that sys,workdir/inputs is a symbolic link to /etc/cfengine3. The `failsafe.cf`` is properly created in /etc/cfengine3.  Then it fails with:

[code]

I deleted the symlink and make inputs a real directory and everything work as expected.

[2013-10-28 13:09] tzz commented on #41
Could we use a hard link instead of a symlink?

[2013-10-28 13:14] basvandervlies commented on #41
no unix handbook -) Hardlinks does not work for different filesystems

On 28 okt. 2013, at 14:09, Ted Zlatanov notifications@github.com wrote:

---

SURFsara has a new telephone number: +31 20 800 1300.

Bas van der Vlies
| Operations, Support & Development | SURFsara | Science Park 140 | 1098 XG  Amsterdam
| T +31 (0) 20 800 1300  | bas.vandervlies@surfsara.nl | www.surfsara.nl |

[2013-10-28 13:16] basvandervlies commented on #41
@tzz it is cfengine that prevents this `info: Path '/var/lib/cfengine3/inputs' is a symlink. Unable to move it aside without move_obstructions is set`. I think cfengine can not handle this copy to symlinked directory.  `failsafe.cf` is properly created in /etc/cfengine3.

[2013-10-28 13:24] tzz commented on #41
OK, my earlier comment about general direction is still standing.  How are we going to patch these cases in general?

For this one specifically, I think `move_obstructions` should be set in masterfiles appropriately to handle symlinks.  Would that fix the problem?

[2013-10-28 15:13] basvandervlies commented on #41
`move_obstructions` is not the solution that will replace the link with a directory. So `/etc/cfengine3` will be obsoleted after bootstrap is run. CFengine prevent to copy to a symbolic that points to a directory. Someone has implemented this and i do not the reason behind it.

We have to ask the debian maintainers if we van use this approach. Link /etc/cfengine to sys.workdir/inputs.  There are s

[2013-10-28 17:07] basvandervlies commented on #41
@tzz maybe this is the solution. the `copy_from` has an attribute `type_check`.  The scenario is that if we set `type_check : false`  and the symlink is pointing to directory we just copy else we display the default errorr message. This require to patch the cfengine source

[2013-10-28 17:26] tzz commented on #41
Can you suggest what files need to be patched and how?  I'm not sure I understand the right solution.

[2013-10-28 19:19] basvandervlies commented on #41
This email was not archived:

[code]

[2013-10-28 20:04] bahamat commented on #41
I think that the issue of `$(sys.workdir)/inputs` being a symlink to `/etc/cfengine3` is something that needs to be revisted.

It's done that way to help comply with Debian policy, but it clearly doesn't work. So we need something different.

My proposal would be to leave `$(sys.workdir)/inputs` as an actual directory and make `/etc/cfengine3` a symlink to $(sys.workdir)/masterfiles)` (the content

[2013-10-29 07:54] basvandervlies commented on #41
sys.workdir/inputs can now be a symlink to a directory in the cfengine core. See:
- https://github.com/cfengine/core/pull/1050

I will merge pull request: https://github.com/Webhuis/Cfengine-debian/pull/42
This is just the back port of the same patch.

[2013-10-29 07:59] bahamat commented on #41
Will this work for masterfiles as well?

[2013-10-29 08:03] basvandervlies commented on #41
It works for all symlinked directories

On 29 okt. 2013, at 08:59, Brian Bennett notifications@github.com wrote:

---

SURFsara has a new telephone number: +31 20 800 1300.

Bas van der Vlies
| Operations, Support & Development | SURFsara | Science Park 140 | 1098 XG  Amsterdam
| T +31 (0) 20 800 1300  | bas.vandervlies@surfsara.nl | www.surfsara.nl |

[2013-10-29 09:31] basvandervlies commented on #24
Each time a stumble in this error when building for jessie. So what is the plan?:
- delete the test.
- patch it

[2013-10-29 14:30] bahamat commented on #24
Preferably fix it upstream and patch it with the same fix.

Since Jessie's freeze is over a year away we should have a new version of cfengine by then and we should be able to have considerably fewer patches.

[2013-10-29 15:29] basvandervlies commented on #24
Brian,

 With the next release after jessie we have the same problem debian with version numbers: consider ‘stable’ and testing and unstable releases.  For now i am  in favor just rm the test in debian/rules  and if there is fix in upstream we can apply it. It is all about defining the proper hard classes. They are solving it with the “inventory” framework.

regards
On 29 okt. 2013, at 15:30, Bria

[2013-10-30 09:10] basvandervlies commented on #34
`--docdir` is merge upstream: Merge pull request #1017 from basvandervlies/respect_docdir_option. Wil now rewrite the `--datadir` configure option. Then most files end up in the right location for debian package.

[2013-11-03 13:27] basvandervlies commented on #34
Both options are enabled again by two pull request

[2013-11-03 13:27] #34 closed, assigned to nobody

[2013-11-05 21:27] tzz commented on #41
Is this fixed, then?

[2013-11-05 21:28] tzz commented on #40
What can I do to help here?

[2013-11-05 21:30] tzz commented on #37
Can I assume the lintian errors are due to https://github.com/Webhuis/Cfengine-debian/issues/40 ?

I don't think we can fix the soname, `libpromises` is pretty fundamental to CFEngine.

The last warning seems weird.  Isn't that how you're supposed to install libraries?  Or am I misunderstanding something?

[2013-11-05 21:31] tzz commented on #24
The inventory framework is in place, with a LSB module.  What do I need to do to make the test pass?

[2013-11-05 21:32] bahamat commented on #40
The best thing would be for the man pages to be included with the tarball form cfengine. Do you know why they're missing?

[2013-11-05 21:36] bahamat commented on #37
I think it's important to include the man pages.

For the other two, I think Debian's recomendation is that cfengine3 should be split into two separate packages. One package would be `libpromises`, and contain only the `libpromises` stuff. The second would be `cfengine3` which depends on `libpomises`.

How crazy would it be to split it like that? If it's trivial, or very easy then I guess, why not

[2013-11-05 21:38] bahamat commented on #37
Also, for reference, Lintian has (at least) four types of messages. Notice, info, warning and errors.

We've never had any lintian _errors_, they've always been at warning or below.

[2013-11-05 21:39] bahamat commented on #24
Backport that fix into this repo, as a quilt patch.

[2013-11-05 21:41] bahamat commented on #41
I don't know if all of the usage cases have been tested. I'd like to keep this open until each one is checked off.

[2013-11-06 10:02] basvandervlies commented on #24
@tzz the faling test is all about that the stable debian version uses numbers and the other names in /etc/issue.
- wheezy (stable) --> debian_7  (sys.flavor)
- jessie (testng) -> debian_jessie  (sys.flavor)

Now the test fails, due to: /bin/grep Debian.*GNU /etc/issue | /usr/bin/cut -d' ' -f3 | cut -d. -f1
- wheezy --> 7
- jessie    --> jessie/sid != sys.flavor --> FAIL

When jessie becomes stable

[2013-11-06 10:28] basvandervlies commented on #37
@tzz, @bahamat we can also switch to static binaries then this warning will disappear.  But then we can not use the cfe-profiler.

[2013-11-06 19:02] bahamat commented on #37
I'd like to have the option of using the profiler. There are lots of other debian packages that squelch or do nothing about each of these messages, so I'm fine doing that as well, unless there's strong objection raised by Debian.

[2013-11-06 19:07] basvandervlies commented on #37
@bahamat +1

[2013-11-06 19:07] bahamat commented on #24
On Jessie, currently `sys.flavor` becomes `debian_jessie`. I think that's ok (or at least not terrible). The problem is that the test parses and chops `/etc/issue`, and it _thinks_ the `sys.flavor` should be `debian_jessie_sid`. So it's really the test that's doing the wrong thing.

The test can be fixed by adding another cut at the end to chop off the sid part, but I'm not sure that's the best wa

[2013-11-06 19:11] bahamat opened #46 "Fix virtual interface detection"
This one affects me directly, so I want to make sure it gets included.

The problem is that cfengine ignores some interfaces if it detects that they are virtual. I have a number of virtual machines in which **all** interfaces are detected as virtual and get ignored.

The upstream bug is https://cfengine.com/dev/issues/3420

There's a patch included in the bug that should address the issue, but may

[2013-11-06 20:10] tzz commented on #40
Oops, wrong button, sorry

[2013-11-06 20:11] tzz commented on #40
IIRC the man pages are supposed to be in the package, but don't know about the tarball.  I think they can be generated from source, either way.

@nickanderson @vohi @cduclos can you comment please?

[2013-11-06 20:13] tzz commented on #37
Splitting off libpromises for the sake of a warning is IMO not worth the effort, so I'll go with @bahamat

[2013-11-06 20:14] bahamat commented on #37
In that case I'm assigning to myself and I'll configure a lintian override for those two messages.

[2013-11-06 20:14] tzz commented on #46
OK with me.

[2013-11-06 20:19] tzz commented on #24
Can the test be fixed to use `lsb_release` if it's present and fall back to `/etc/issue` parsing?  That would make the most sense to me.

LSB is OK to use for testing, at least.  Also there's `lsb.cf` in the new masterfiles inventory framework, which will be available in 3.6.

[2013-11-06 20:46] basvandervlies opened #47 "process select stime_range bug in calculation epoch time"
See issue:
- https://cfengine.com/dev/issues/2921

The pull request is accepted in the master branch, but no applied to 3.5.2 or 3.5.X branch. This one effects me.

[2013-11-06 20:53] basvandervlies commented on #40
In the 3.5.x and master branch there is the directory:
- doc/manpages

[code]

[2013-11-06 21:04] bahamat commented on #40
Debian imports from the tar all though, not the upstream repo.

[2013-11-06 21:19] basvandervlies commented on #40
@bahamat i know we fetch the tarball.  I assume that the generation of the tarball goes wrong and does not include the docs directory.

[2013-11-07 09:36] vohi commented on #40
The man pages for the binaries are generated by the binaries themselves, via (undocumented) -M command line parameter. There are no man-pages checked into the repository (https://github.com/cfengine/core/tree/master/docs/manpages).

They can't be in the tar ball for that reason, because we don't compile the binaries before we generate the tar ball. There's https://cfengine.com/dev/issues/2989 as a

[2013-11-07 19:03] bahamat commented on #40
Ok, that makes a bit more sense. We can add a build step that generates and saves them.

[2013-11-12 00:09] tzz commented on #40
Cool, now it makes sense, thanks @vohi

[2013-11-12 17:31] bahamat commented on #37
I've now merged in a new override that takes care of both of the libpromises messages. The last thing is the man pages then it'll be done.

Ted had a good idea for creating a new acceptance test that produces the man pages. I'll use that as a last resort if I can't do it directly in `debian/rules`.

[2013-11-12 17:32] bahamat commented on #40
Ted suggested using an acceptance test to create the man pages because the tests already know how to execute the binaries properly.

[2013-11-12 17:33] tzz commented on #37
I commented in https://github.com/cfengine/core/pull/1059 and https://github.com/cfengine/core/pull/1037 as well because they seem to be blocking each other to block the @basvandervlies  patch.

[2013-11-12 17:36] bahamat opened #48 "Need to build and test on sid"

[2013-11-12 17:37] tzz commented on #47
I commented in the Redmine ticket to @vohi for merging into 3.5.x

[2013-11-12 17:40] bahamat opened #49 "Reconcile datadir issue with core"
The way we fixed `datadir` is not acceptable to cfengine/core. We need to reconcile with them.

[2013-11-12 17:48] tzz commented on #41
@basvandervlies @bahamat @vohi does https://github.com/cfengine/core/pull/1050 need to be backported to 3.5.x?  If so I can open the PR+ticket.

[2013-11-12 22:25] bahamat commented on #37
Since the only thing left is the missing man pages #40 specifically addresses that, I think this issue can be considered closed.

[2013-11-12 22:25] #37 closed, assigned to bahamat

[2013-11-12 22:27] bahamat commented on #40
This patch successfully produces man pages, although I don't think this is the best approach.

Any suggestions on improving this?

[code]

There's still no man page for `rpmvercmp`, but I'm overriding that.

[2013-11-13 10:22] basvandervlies commented on #40
@bahamat maybe this:

[code]

I tested this and it works.

[2013-11-13 10:25] basvandervlies commented on #41
@tzz That would be nice +1.

[2013-11-13 12:17] basvandervlies commented on #49
My reply has vanished ;-(.  In the current behavior we can not choose the destination folder. The options are:
- $(exec_prefix)/share (default and also the default for configure)
- $(exec_prefix/share/cfengine  (--enable-fhs)

CFengine has add a new variable to configure (projdatadir) that does the same as the configure `--datadir`
option.  What i have done is removed the `projdatadir` and  enable

[2013-11-13 12:29] Webhuis commented on #49
Dear Bas,

May be we should forward this to the development team in Oslo.

We are putting a lot of effort in this project and it is to the benifit of
CFEngine. What you offer is some sort of an holy grail when it comes to
efficiently packaging CFEngine for all major distributions. I feel it
should be honoured.

Met vriendelijke groet,
Martin.

+31651567029

[2013-11-13 16:18] bahamat commented on #40
Excellent, thanks.  I'll use that.

[2013-11-14 07:56] basvandervlies commented on #41
@bahamat, @tzz and others. Due this project i am testing the bootstrap procedure. Correct me if i am wrong but this will only work if the client and policy_server uses the same sys.workdir.  So our debian package can never use the bootstrap procedure if the policy server uses other sys.workdir. This is due the generated '''failsafe.cf'''.

[2013-11-14 18:58] basvandervlies commented on #41
@bahamat @tzz the patch is reverted due to security issues: cfengine/core#1050. So we have also to delete the patch and make '''/etc/cfengine'' to '''sys.workdir/inputs'''. Then everything  works as expected.

[2013-11-15 14:00] basvandervlies commented on #41
To prevent the symlink attack i just submitted a pull request: https://github.com/Webhuis/Cfengine-debian/pull/50

I am still in favor of reverting the symlink:
- /etc/cfengine ---> sys,workdir/inputs

I do not know if this acceptable according the Debian package policies.

[2013-12-06 09:47] ediosyncratic commented on #24
/etc/debian_version sounds like it's actually the better solution here !  I was unaware of that when fixing this - I guess I'm the only developer on staff that uses testing, so I ran into it independently, unaware of this thread.  I'll fix this up in a later commit, now that I know about it - thanks @basvandervlies for linking here from my code review !

[2013-12-06 09:50] bahamat commented on #24
Can you make sure to link the commit here as well? I want to make sure it gets included in the debian package.

Thanks Edward.

##

Brian

[2013-12-18 10:31] basvandervlies commented on #49
To easliy follow the discussion:
- https://github.com/cfengine/core/pull/1059

[2013-12-19 10:06] basvandervlies commented on #47
it has been backported to 3.5.x. thanks

[2013-12-19 10:09] basvandervlies commented on #41
Mark Simons just had hangout with Mark Burgess and he is in favor of /etc/cfengine3 ---> sys,workdir/inputs. So one of the debian package developers have to ask if this acceptable.  If this acceptable then we have a working bootstrap.

[2013-12-19 13:45] basvandervlies commented on #40
I have issued sn pull request https://github.com/Webhuis/Cfengine-debian/pull/51

[2013-12-19 13:46] ediosyncratic commented on #24
bahamat: here's my (somewhat belated) pull request for the further refinement of the test:
https://github.com/cfengine/core/pull/1213

My original commit is eaaf3ad222db81089031bd306dcf8df342ec1ef9 on cfengine/core's master and fixes your problem; this later pull request is just a refinement to _how_ it's fixed ...

[2013-12-19 13:46] basvandervlies commented on #40
and applied

[2013-12-19 13:46] #40 closed, assigned to bahamat

[2013-12-19 13:46] basvandervlies commented on #47
i close it it is in 3.5.x and 3.6

[2013-12-19 13:46] #47 closed, assigned to basvandervlies

[2013-12-19 13:48] tzz commented on #41
@basvandervlies can you please explain exactly what is the proposed solution?  I think you're proposing a symlink but it's hard to tell.

[2013-12-19 14:37] basvandervlies commented on #41
@tzz Your right it is a symlink ;-) from /etc/cfengine3 to sys.workdir/inputs. Debian sys.workdir=/var/lib/cfengine3.
If the symlink is from sys.workdir/inputs to /etc/ecfengine3 we need pull request https://github.com/cfengine/core/pull/1050

[2013-12-19 14:47] #24 closed, assigned to bahamat

[2013-12-19 16:12] tzz commented on #41
I understand.  So Debian will have to find the symlink acceptable and we'll wait for their decision, probably from Antonio?

[2013-12-20 07:09] basvandervlies commented on #41
@tzz yes we have to wait for Antonio's answer and provide a mechanism for the transition from old to new situation.  remove the the sysmlink sys,workdir/inputs, copy /etc/cfengine3 to sys.workdir/inputs and make the symlink.

[2014-01-10 15:45] basvandervlies commented on #41
There is  a pull request https://github.com/cfengine/core/pull/1260 that add two configure options:
- --with-masterdir=<directory> (default: `$(sys,workdir)/masterfiles`, variable = `$(sys.masterdir)`
- --with-inputdir=<directory> (default: `$(sys.workdir)/inputs`, variable = `$(sys.inputdir)`

This is will solve the /etc/cfengine3 symbolic issue with bootstrap on the client

[2014-01-13 08:40] tzz commented on #41
https://github.com/cfengine/core/pull/1260 is merged :)

[2014-01-13 08:48] basvandervlies commented on #41
@tzz Thanks for the support!!! We have to wait fot 3.6 ;-)

[2014-01-21 10:56] basvandervlies commented on #41
The masterdir/inputdir is now merge cfengine/core/#1293.  So one hurdle to go

[2014-01-21 12:12] basvandervlies commented on #49
Have opened an issue:
- https://cfengine.com/dev/issues/4078

[2014-02-10 08:28] basvandervlies commented on #49
Cab be closed it is merge in 3.6 ;-) Thanks to Kristian!

[2014-02-10 08:28] #49 closed, assigned to nobody

[2014-02-18 17:12] bahamat opened #53 "Directory relocations"
Legacy debian cfengine packages have `$(sys.workdir)/inputs` symlinked to `/etc/cfengine`.

This needs to changed so that `/etc/cfengine` is a symlink to `$(sys.workdir)/masterfiles` Instead.

Todo:
- script to perform migration
- debconf dialogs for user

[2014-02-18 18:46] thkoch2001 commented on #53
It may be worth considering the popcon value of cfengine in Debian: http://qa.debian.org/popcon-graph.php?packages=cfengine3

Depending on how complicate the upgrade is, one might just put a note in the NEWS file and leave it to the potentially 50 users to do the necessary changes.

[2014-02-18 20:37] bahamat commented on #53
Given that where cfengine is used, it's used on potentially very _large_ installations. A single vote may represent hundres or thousands of installations. And the typical cfengine user is less inclined to use popcon. Plus, this change has the potential to bring down entire data centers with one feel swoop.

The migration procedure as far as disk files are concerned will be very easy. What we can't

[2014-05-10 11:51] ballock opened #54 "Systemd init script"
As it was decided by both Debian and Ubuntu to switch to Systemd init, we need a systemd-compliant init script.

[2014-05-12 09:21] ballock commented on #48
I believe this needs to be extended to backports (wheezy) and Ubuntu distros. Also, we would benefit from having an automated build system for latest upstream Git release.

I went through automatic CI and build systems that came up to my head (hosted):
1. build.opensuse.org (opensuse build system) - should work, but its .deb support functions look like being a hack.
2. launchpad.net - only builds

[2014-05-12 14:43] tzz commented on #54
Please review https://dev.cfengine.com/issues/5414 since the SUSE maintainer has kindly written the systemd init and identified some issues already.  @kkaempf is it OK to use the same init scripts for both cases, minimizing the maintenance work for both sides?

[2014-05-12 14:45] tzz commented on #48
CFEngine's internal Jenkins service could be hooked to test the Debian package, if the community members are OK with that dependency.  @Webhuis @bahamat let me know if I should request it.

[2014-05-12 14:51] jooooooon commented on #48
On 12/05/14 16:45, Ted Zlatanov wrote:

I'd rather a Jenkins instance we could actually access, to be able to
analyse build failures, etc. Would that be possible?

Jonathan

[2014-05-12 15:33] tzz commented on #48
I don't think it's possible, the CFEngine internal Jenkins setup is too sensitive.

[2014-05-12 18:39] bahamat commented on #54
I agree. We should reuse that one if possible. Is it or will it be included with core?

[2014-05-12 18:50] bahamat commented on #48
I can host one, but it would be IPv6 only.

##

Brian

[2014-05-12 21:37] ballock commented on #48
I think my email did not get to ihe issues list here; whatever.

So we've got 2 ipv6-only servers (I mentioned I have one). Anyone has experience if Jenkins can be run on a public interface without security concerns?

[2014-05-12 22:51] tzz commented on #54
It is in master but not 3.6.x.  Also it lives in `contrib` which is not distributed with the packages.  So for the 3.6.0 release it will need to be manually included and used by the Debian and SUSE maintainers, but can come from that authoritative place so we have just one version.

[2014-05-12 22:53] tzz commented on #48
I don't know anyone running Jenkins in the open.  Maybe a VPN would be a good access filter?

[2014-05-12 23:44] jooooooon commented on #48
There are several public installations I know of, most notably https://builds.apache.org.

But that comment reminded me of CloudBees that are a "Jenkins as a service" company and they offer free Jenkins instances to open source projects: http://www.cloudbees.com/foss/index.cb

[2014-05-13 07:31] kkaempf commented on #54
@tzz the .service scripts should be systemd-specific, not SUSE-specific. I hope we can make them generic and cross-distribution

[2014-05-13 11:11] tzz commented on #54
What functional testing is needed on Debian for systemd support?
- cf-execd
- cf-serverd
- what systemctl modes should be supported?  For instance `reload config` doesn't make sense since the cf daemons reload their own configs whenever they notice file changes.

[2014-05-14 19:12] bahamat commented on #54
I think we just need to make sure that cf-execd, cf-serverd, and cf-monitord can start up and shut down.

Reload should probably either be a nop or aliased to restarting since there's no real notion of re-reading the config.

[2014-05-17 12:20] ballock commented on #48
I had a look at build.apache.org and it's only available for projects related to the Apache Foundation.

Cloudbees look very interesting, but I'm not the type of guy that would be screaming for having built my software on a public service of Cloudbees. I also have some security problems with that one, as for the pbuilder service, I'd need to enter both the public and private key to publish the pac

[2014-05-19 16:44] tzz commented on #54
please watch and add your vote to https://dev.cfengine.com/issues/5243

[2014-05-19 16:56] bahamat commented on #54
I can log in, but I get 403 trying to access that issue. I seem to be able to access other issues.

[2014-05-19 19:01] tzz commented on #54
I've now made the ticket public, sorry about that.

[2014-05-23 22:28] ballock commented on #48
I set up a puilder environment to build the packages. Then started configuring a promising "Debian Package Builder" plugin for Jenkins.

It turns out that  doesn't use pbuilder, but builds on the Jenkins host directly. That means I need to have a Jenkins slave per distro/architecture, so I needed to change my toys.

Currently I'm planning to use the Docker plugin for Jenkins to spawn Jenkins slave

[2014-05-30 08:17] ballock commented on #48
I managed to set up a build environment based on Jenkins-debian-glue. It is available via IPv6:
http://osuosl.ballock.random.fi:8080

Currently, none of the builds were successful, I will be reporting/diagnosing that separately.

I was thinking about opening access to the server based on Github authentication in Jenkins, but that assumes we have a Github group, which we don't AFAIK. So I am propos

[2014-05-30 09:59] Webhuis commented on #48
Dear Ballock,

How about a hangout on this one?

Say Tuesday 17:00 CEST / 8 AM PDT.

Met vriendelijke groet,
Martin.

+13107732970
+31651567029

[2014-05-30 10:20] ballock commented on #48
Can do, but 17 CEST is a little to early, I'm still working at the time.
Something between 18-20 and 22-23 CEST are ok.

Cheers,
Ballock

2014-05-30 11:59 GMT+02:00 Webhuis notifications@github.com:

[2014-05-31 23:47] ballock opened #55 "Adjust acceptance tests to print to stdout"
Please contact me on my email address.

I am preparing another Debian-team meeting and I want to include you

Martin

When using pbuilder for package build, as is the case with both the Debian and Ubuntu archives, a failed acceptance test produces just an notion that '1' test failed, without any hint as how many of the acceptance tests failed, with what error message or whatsoever.

A regular acti

[2014-05-31 23:50] ballock commented on #55
I found that 'testall' script in the acceptance tests has a '--printlog' option. Trying to have it executed from the makefile, nor even hardcoding it to true in the script itself does not help, so I guess the output of the testall script is redirected by some other wrapper. Can't find it, though.

At the same time, on a regular build, all the test errors are in tests/acceptance/workdir/*/test.log.

[2014-06-04 10:21] tzz commented on #55
Well, can you set an environment variable?  Is there anything to tell `testall` that it should print the errors to STDOUT?

[2014-06-10 07:06] ballock commented on #48
My CI setup for package build is now available through IPv4 too.

http://ci.tokarscy.com

Jenkins master runs on my family's domain and VPS, and accesses slaves through IPv6.

It also publishes the built packages (once all the builds are successful) to:

http://ci.tokarscy.com/deb $distribution main

[2014-09-23 15:18] neilhwatson opened #56 "Bug 6466 makes 3.6.1 undesirable"
Anyone reading in data and expecting order lists, like EFL users, cannot use 3.6.1.

https://dev.cfengine.com/issues/6466

[2014-10-02 19:50] bahamat commented on #56
Bug 6466 has a target version of 3.6.2. Since 3.6.2 was released this morning I'm going to assume that it's fixed.

[2014-10-02 19:50] #56 closed, assigned to nobody

[2014-10-02 19:53] bahamat commented on #54
This has an upstream target of 3.7, so won't be available for Jessie.

We can patch in the following examples:
https://build.opensuse.org/package/view_file/systemsmanagement/cfengine/cf-serverd.service?expand=1
https://build.opensuse.org/package/view_file/systemsmanagement/cfengine/cf-execd.service?expand=1
https://build.opensuse.org/package/view_file/systemsmanagement/cfengine/cf-monitord.service

[2014-10-02 19:56] bahamat commented on #46
The fix for this will be included in 3.7.

Pull request is here: https://github.com/cfengine/core/pull/1819

This issue will not be cherry picked into 3.6. If we import it then we'll have different behavior on Debian than on other platforms. I'm therefore inclined to close this issue without back porting.

[2014-10-02 19:57] bahamat commented on #55
If this can be done easily, please do so. Otherwise this will be dropped before the freeze.

[2014-10-02 19:58] bahamat commented on #41
This can be reconciled with a shortcut promise.

[2014-10-02 19:58] bahamat commented on #41
This also applies to the masterfiles package, so removing blocker tag.

[2014-10-02 20:16] #46 closed, assigned to bahamat

[2014-10-02 21:22] bahamat commented on #48
I now have a sid build system. I'll be able to report any build failures there.

[2014-10-02 21:22] #48 closed, assigned to nobody

[2015-05-03 17:57] bahamat commented on #54
These are now included in upstream. They'll be pulled in during the next major release.

[2015-05-03 17:57] #54 closed, assigned to nobody

[2015-05-03 17:59] bahamat commented on #53
This is now moot since Jessie has shipped.

[2015-05-03 17:59] #53 closed, assigned to nobody

[2015-05-03 18:01] bahamat commented on #41
- Debian cfengine3 -> cfengine3 works as expected.
- Cross platform (i.e., cfengine3 <-> cfengine-community) is currently untested.